@import 'reset';

$font-stack: Helvetica, sans-serif;

$text-color: #555;
$text-color-bold: #333;

//$primary-color: #404e5c;
//$secondary-color: #c95d63;
$primary-color: #c95d63;
$secondary-color: #404e5c;
$tertiary-color: #9da9a0;
$four-color: #654c4f;
$five-color: #cec075;

$shadow-color: #555;
$hover-color: #eee;

@font-face {
	font-family: Harry;
	src: url("../fonts/harry-plain.otf")
}

body {
	font: 100% $font-stack;
	color: $text-color;
}

.main-content {
	margin: 0 auto;
	max-width: 60em;
	line-height: 1.5;
	padding: 4em 1em;
}

h1, h2, strong {
	color: $text-color-bold;
}

a {
	color: $primary-color;
}

ul {
    list-style-type: none;
}

.center {
    text-align: center;
}

.section-title {
    color: $primary-color;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer
}

@import 'banner';
@import 'welcome';
@import 'resume';
@import 'collapsible-section';
@import 'shadow-section';
@import 'experience';
