.experience {
    .full-position {
        font-size: 1.1rem;
    }

    .position {
        font-weight: bold;
    }

    .points {
        padding: 0 1rem;
    }

    .point {
        padding-left: 1rem;
        text-indent: -1rem;
    }
}
