html
    head
        link(rel='apple-touch-icon' sizes='180x180' href='apple-touch-icon.png')
        link(rel='icon' sizes='32x32' type='image/png' href='favicon.png')
        link(rel='stylesheet' type='text/css' href='css/base.css')
        title= 'TannerEvins.com'
    body
        #root
        script(type='text/javascript', src='app.js')
